.hamburgerButton {
    height: 27px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px;

    div {
        width: 100%;
        height: 4px;
        border-radius: 20px;
        background-color: whitesmoke;
    }
}

.hamburgerButton:focus {
    outline: none;
}