@use '../utils/mixins' as *;
@use '../utils/colors' as *;

.homepageContainer {
    // placeholder
}

.homepageHeaderContainer {
    background-color: red;
    height: 300px;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    img {
        width: auto;
        height: 119%;
        right: 0;
        top: -50px;
        position: absolute;
    }

}

.gradientOverlay {
    background-color: $primary_color;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    z-index: 1;
    clip-path: path('M0,0 H850 C750,150 750,220 850,370 H0 Z');
}

.headerWrapper {
    z-index: 2;
    @include flex_center;
    flex-direction: column;

    h1 {
        margin: 70px;
        font-family: "Playwrite HU", cursive;
        z-index: 2;
        color: whitesmoke;
    }

    button {
        z-index: 2;
        padding: 25px 40px;
        background-color: $secondary-color;
        border-radius: 20px;
        font-size: large;
        cursor: pointer;
        color: $text-dark;
    }
}

.homepageSubHeaderContainer {
    width: 100%;
    height: 100px;
    background-color: $secondary-color;
    @include flex_center;

    h2 {
        font-weight: normal;
        font-size: 23px;
        color: $text-dark;
    }
}

.miniAboutusContainer {
    margin: 0 5rem;
    width: calc(100% - 10rem);
    height: 800px;
    background-color: $primary_color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin: 2rem;
        font-size: 2rem
    }
    p {
        margin: 2rem;
        font-size: 20px;
    }
}