@use '/src/style/utils/mixins' as *;
@use '/src/style/utils/colors' as *;

.homepageWrapper {

    .sectionContainer {
        width: 100%;
        height: 100px;
        background-color: $secondary-color;
        @include flex_center;
    
        h2 {
            font-weight: normal;
            font-size: 23px;
            color: $text-dark;
        }
    }
}